@media (max-width: 1100px) {
.header-main {
    width: 80%;
    margin: auto;
}
article {
    width: 80%;
    margin: auto;
}
  .logo {
    font-size: 60px;
    text-align: left;}
.description{
    font-size: 15px;}
.btn {
    background-color: red;
    width: 200px;
    height: 60px;}
.nav-bar ul
 {font-size: 15px;}

.number a {font-size: 20px;}

.name-company a {font-size: 20px;}

.footer-text-block{
  display: flex;
  justify-content: space-between;
  margin: auto;
  gap: 0.5vh;
}
  .footer-text-block {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .left-part, .right-part {
    width: 100%;
  }

  .right-part {
    display: flex;
    justify-content: center;
    
  }

  .input-container {
    width: 100%;
    max-width: 500px;
  }
}
@media (max-width: 860px){
.info-main {
    display: flex;
    gap: 2vh;
    flex-wrap: wrap;
}
.header-main {
    width: 90%;
    margin: auto;
}
article {
    width: 90%;
    margin: auto;
}
.image-girl {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.text-block{
    display: flex;
    
    flex-direction: column;
    gap:0.5vh;
}
.btn a {
    font-size: 12px;
}
.header-centre
 {gap: 5%;
}
.header-centre {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 3vh;

}
}

