body{
  margin: 0;
  padding: 0;
}
header{
  background-color:#141024 ;
  
}
.header-line{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 5%;
  

}
.name-company a{
  color: aliceblue;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 30px;
}

.nav-bar .menu{
  color: aliceblue;
  display: flex;
  gap: 2vh;
  list-style-type: none;
  opacity: 0.6;
  font-size: 20px;
}
.number a{
  color: aliceblue;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  opacity: 0.8;
  font-size: 30px;

}

.header-main{
  width: 70%;
  margin: auto;
  
}

.header-centre{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5%;
  
}
.logo{
  font-size: 70px;
  color: aliceblue;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.image-svg {
  flex: 1;
  display: flex;
  justify-content: center;
}
.image-girl {
  width: 100%;
  max-width: 780px;
  height: auto;
}
.text-block{
  display: flex;
  flex-direction:column ;
  gap: 2vh;
  /* min-width: 480px; */
}
.description{
  font-size: 20px;
  color: aliceblue;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  opacity: 0.7;
  text-align: left;
}
.btn{
  background-color: red;
  width: 260px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  
}
.btn a{
  color: aliceblue;
  text-decoration: none;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  opacity: 0.8;
  
}
/*  */
article{
  width: 70%;
  margin: auto;
  
  
}

.why-company p {
  display:inline-block;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  line-height: 160%;
  font-weight: 400;
  letter-spacing: 0%;
  color: #141024;
  opacity: 0.8;
}
.why-company{
  text-align: left;
  margin: 10% 0;
}

.list-number-block{
  display: flex;
  text-align: left;
  margin: 10% 0;
  gap: 2vh;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1350px;
  
}

.list-number h2{
  color: red;
  font-size: 70px;
  font-family: "Roboto", sans-serif;
  margin: 0px;
}
.list-number span{
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  opacity: 0.7;
  color: #141024B2;
}

.info-before-cours{
  margin: 10% 0;
}

.info-head h2{
  font-size: 50px;
  text-align: left;
  font-family: "Roboto", sans-serif;
  margin: 1vh 0;
  
}
.info-head p{
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  text-align: right;
  margin: 0;
  color: #141024B2;
}
.info-main{
  display: flex;
  gap: 2vh;
}

.info-block h3{
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  
}
.info-block span{
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #141024B2;
  font-weight: 400;
  line-height: 160%;
}


/* --------------------------- */
.swiper {
  width: 100%;
  height: auto;
  margin: 10% 0;
}
.swiper h1{
  font-size: 50px;
  line-height: 160%;
  font-family: "Roboto", sans-serif;
}
.swiper .name {
  font-size: 24px;
  line-height: 160%;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  
}
.swiper span {
  font-size: 18px;
  line-height: 160%;
  font-family: "Roboto", sans-serif;
  color: #141024B2;
}
.swiper .more-info {
  font-size: 18px;
  line-height: 160%;
  font-family: "Roboto", sans-serif;
  color: #d52026af;
}


.swiper-slide img{
  width: 100%;
}

/* стили к пргрессбару */
.swiper-pagination {
position: relative;
background-color: #14102414;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  position: absolute;
  background-color: #000000;
  width: 100%;
  
  border-radius: 10px;
}
.swiper-horizontal > .swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal, .swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite {
  width: 30%;
  border-radius: 10px;
  height: var(--swiper-pagination-progressbar-size, 6px);
  left: 0;
  top: 0;
}
/* ------------------------- */

/* стили с стрелкам */

.contaner-swiper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button-container{
  display: flex;
  align-items: center;
  gap: 3vh;
}

.swiper-button{
  position: relative;
  width: 40px;
  
}
.swiper-button-prev{
  transform: rotate(-0.5turn);
}
/* пакеты */
.get-pacet{
  margin: 10% 0;
}

.get-pacet h2{
  color:  #141024;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-weight: 900;
}
.pacet-box{
  display: flex;
  text-align: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1350px;
  gap: 2vh;
}

.pacet-item{
  color: aliceblue;
  font-family: "Roboto", sans-serif;
  min-width: 360px;
  height: 500px;
  color: aliceblue;
  border-radius: 20px;background-color: #141024;
}
.pacet-2{
  background-color: aliceblue;
  color: #141024;
  border: 1px solid #14102433;
}
.pacet-3{
  background-color: aliceblue;
  color: #141024;
  border: 1px solid #14102433;
}

.pacet-item h3{
  font-size: 30px;
  font-weight: 600;
}
.pacet-item .price{
  font-size: 50px;
  font-weight: 800;
}
.pacet-item .price-info{
  font-size: 18px;
  line-height: 160%;
  opacity: 0.8;
}
.pacet-btn{
  height: 15%;
  background-color:#D52027 ;
  display: flex;
  justify-content: center;
  width: 70%;
  margin: auto;
  border-radius: 5px;
  margin-top: 30%;
  
  
}
.pacet-btn p{
  margin: auto;
  padding: auto;
  font-size: 18px;
}
.btn-text-2{
  color: aliceblue;
}
/* footer */
.footer-red-block{
  background-color: #D52027;
  width: 100%;
  height: 460px;
  font-family: "Roboto", sans-serif;
  display: flex;
  
}
.footer-text-block{
  display: flex;
  justify-content: space-between;
  
  margin: auto;
  gap: 7vh;
  max-width: 1350px;
 
}
.left-part h1{
  color: aliceblue;
  font-size: 36px;
  margin: 0;
}
.left-part p{
  color: aliceblue;
  font-size: 20px;
  opacity: 0.8;
}


.right-part{
  width: 80%;
  height: auto;

}
.input-container .el{
  max-width: 500px ;
  height: 70px;
  margin: 0;
  
}
.el p{
  margin: 0;
}
.footer-btn{
  background-color:#141024;
  color: aliceblue;
  text-align: center;
  margin: auto;
  display: flex;
  border-radius: 8px;
  
}
.footer-btn p{
  margin: auto;
  font-size: 18px;
}
.input-container{
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.input{
  font-size: 25px;
  color: #14102481;
  outline: none;
  border: none;
  padding-left: 15px;
  border-radius: 8px;
  box-sizing: border-box;
}


.input:not(:placeholder-shown) {
  font-weight: 800;
  color: #000000;
}

.header-line{
  background-color: #141024;
}
.name-company .end{
  font-size: 16px;
  color: aliceblue;
  opacity: 0.8;
}


/* бургер меню */
.burger{
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
  z-index: 3;
  border-radius: 5px ;


}

.burger span{
  width: 30px;
  height: 5px;
  background-color: rgb(0, 0, 0);
  border-radius:10px ;
  
}
.burger::before{
  content: '';
  width: 30px;
  height: 5px;
  background-color: rgb(0, 0, 0);
  border-radius:10px ;
  margin: 5px;
  transition: 0.3s ease;
  
}
.burger::after{
  content: '';
  width: 30px;
  height: 5px;
  background-color: rgb(0, 0, 0);
  border-radius:10px ;
  margin: 5px; 
  transition: 0.3s ease;
}

/* активный класс */
.burger.active::before{
  transform: rotate(45deg);
  position: absolute;
}
.burger.active::after{
  transform: rotate(-45deg);
  position: absolute;
}


.burger.active span{
  transform: rotate(-45deg);
  display: none;
  position: absolute;}


@media (max-width: 700px) {
  .burger {
    display: flex;
  }

  .nav-bar .menu {
    display: none;
  }

  .nav-bar .menu.open {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #141024;
    justify-content: center;
    align-items: center;
    gap: 40px;
    z-index: 2;
    opacity: 1;
    margin: 0;
  }

  .menu.open li {
    color: #fff;
    font-size: 28px;
  }
}
@media (max-width: 450px){
  .number{
    display: none;
  }
}